#menu {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#menu strong {
  font-size: 20px;
  line-height: 26px;
}

#menu p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#menu a {
  text-decoration: none;
}
