<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Orgelsteuerung
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orgelsteuerung</ion-title>
    </ion-toolbar>
  </ion-header>

  <!---
  <div id="alive">
      <textarea id="aliveField" readonly></textarea>
  </div>-->
  <div id="controller">
    <div hidden="hidden" id="backToMainMenue">
      <ion-button id="buttonMainMenue" size="medium" (click)="manPlay(true)"> Back to main menu</ion-button>
    </div>
    <div id="toggle" hidden="hidden">
      <ion-item color="none">
        <ion-label>{{state}}</ion-label>
        <ion-toggle [(ngModel)]="overMqtt" (ionChange)="changeState()" color="primary"></ion-toggle>
      </ion-item>
    </div>
  </div>
  <div id="body">
    <div id="outputWindow">
      <textarea id="ListenArea" readonly></textarea>
    </div>

    <div id="Manual_Mode" hidden="hidden">
      <ion-button id="C" size="large" (mousedown)="playNote(1, 'C')" (mouseup)="playNote(0, '')"> Play "C" | 1
      </ion-button>
      <ion-button id="D" size="large" (mousedown)="playNote(2, 'D')" (mouseup)="playNote(0, '')"> Play "D" | 2
      </ion-button>
      <ion-button id="E" size="large" (mousedown)="playNote(3, 'E')" (mouseup)="playNote(0, '')"> Play "E" | 3
      </ion-button>
      <ion-button id="F" size="large" (mousedown)="playNote(4, 'F')" (mouseup)="playNote(0, '')"> Play "F" | 4
      </ion-button>
      <ion-button id="G" size="large" (mousedown)="playNote(5, 'G')" (mouseup)="playNote(0, '')"> Play "G" | 5
      </ion-button>
      <ion-button id="A" size="large" (mousedown)="playNote(6, 'A')" (mouseup)="playNote(0, '')"> Play "A" | 6
      </ion-button>
      <ion-button id="H" size="large" (mousedown)="playNote(7, 'H')" (mouseup)="playNote(0, '')"> Play "H" | 7
      </ion-button>
      <ion-button id="c2" size="large" (mousedown)="playNote(8,'C2')" (mouseup)="playNote(0, '')"> Play "C2" | 8
      </ion-button>
    </div>

    <div id="menu">
      <ion-button id="selftest" size="large" (click)="selfTest()"> Selftest</ion-button>
      <ion-button id="playFirmware" size="large" (click)="playFirmware()"> Play preinstalled song</ion-button>
      <ion-button id="manplay" size="large" (click)="manPlay(false)"> Play for your own</ion-button>
      <!--  <ion-button id="playFile" size="large" (click)="playFile()"> Play from File</ion-button>-->

      <!---<ion-button id="Listen" size="large" (click)="Listen()"> Listenmode</ion-button>--->
    </div>

    <!--<textarea id="dirOut" readonly hidden="hidden"></textarea>
    <input id="dirIn" hidden="hidden">
    <ion-button id="submit" size="large" hidden="hidden" (click)="send(false)"> Confirm!</ion-button>-->
  </div>
</ion-content>
