#menu {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#outputWindow {
  text-align: center;
  position: absolute;
  top: 23%;
  transform: translateY(-50%);
}
#dir {
  text-align: center;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
}

#Manual_Mode {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#menu strong {
  font-size: 20px;
  line-height: 26px;
}

#menu p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#menu a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
#ListenField {
  --background: translucent;
}

#dirOut{
  font-size: medium;
  text-align: left;
  position: absolute;
  top: 30%;
}

#submit{
  text-align: center;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
}
#dirIn{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
textarea{
  resize: none;
  border: none;
  font-size: xx-large;
}
#toggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
}

#body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#controller{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
